<!DOCTYPE html>
<html>
    <head>
        <title>DC4 Games</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/styles.css" rel="Stylesheet" type="text/css" />
    </head>

    <body id="dc4">
        <header>
            <div class="flex">
                <div class="logo">
                    <a href="#"><img src="../Imagenes/LOGO.png" alt="DC4 Logo" /></a>
                </div>
                <nav class="navegacion">
                    <button id="nav-toggle" class="hamburger-menu">
                        <span class="strip"></span>
                        <span class="strip"></span>
                        <span class="strip"></span>
                    </button>
                    <ul id="nav-menu-container" class="menu">
                        <div class="dropdown">
                            <a href="../index.html" class="dropbtn"> Home </a>
                            <div class="dropdown-content">
                                <a href="/views/dc4.html"> DC4 </a>
                                <a href="/views/productos.html"> Productos </a>
                            </div>
                        </div>
                        <li><a href="/views/games.html">Games</a></li>
                        <li><a href="/views/torneos.html">Torneos</a></li>
                        <li><a href="/views/tablaDePosiciones.html">Tabla de Posiciones</a></li>
                        <div class="dropdown">
                            <a href="#" class="dropbtn"> Virtualizacion </a>
                            <div class="dropdown-content">
                                <a href="/views/sandbox.html"> SandBox </a>
                                <a href="/views/cloudValley.html"> CloudValley </a>
                            </div>
                        </div>
                    </ul>
                </nav>
                <a href="#" id="login-register-button">Login / Register</a>
            </div>
        </header>
        <main>
            <div id="dc4Titulo">
                <h1>DC4</h1>

            </div>
            <section class="tribu">
                <div class="stream">
                    <h2>Stream Teams</h2>
                    <img class="equipos"src="../Imagenes/ABM SERVICIOS (gente).PNG" alt="">
                        <u><h3>ABM de Servicios</h3></u>
                            <h4>¿Qué y cómo lo hacemos?</h4>
                                <li> Disponibilizamos servicios en la plataforma habilitadora (DC4), en el menor tiempo posible </li>
                                <li>Realizamos modificaciones sobre servicio ya desplegados </li>
                            
                            <h4>Alcance</h4>
                                <li>Diseñar e implementar siguiendo las mejores practicas.</li>
                                <li>Granjas DC4, HOR, SLO y granjas legadas</li> 
                                <li>Acompañamos a nuestros clientes en el despliegue de los servicios de la infra</li>
                                <li>Trabajo en equipo y aprendizaje continuo</li>
                        <br><br><br><br><br><br>
                        <u><h3>Proyectos Complejos</h3></u>
                        <img class="equiposPC"src="../Imagenes/PC.jpg" alt="">
                            <h4>¿Qué hacemos?</h4>
                                <li>Transformar lo complejo/no-estandarizado, en estandarizado y automatizado</li> 
                                <li>Cumplir con los requerimientos que el negocio necesite. Alineados al resto de las células</li>
                           
                            <h4>Alcance</h4>
                                <li>Diseñar e implementar </li>
                                <li>Optimizar tiempos</li>
                                <li>Soporte POST implementacion </li>
                                <li>Aprendizaje constante. Trabajo en equipo</li>     
                </div>
                <br><br><br><br><br><br><br><br><br>
                <div class="platform">            
                    <h2>Platform Teams</h2>
                    <img class="equipos"src="../Imagenes/iaas.jpg" alt="">
                        <u><h3>IaaS</h3></u>
                            <h4>¿Qué hacemos?</h4>
                                <li>Desplegamos y hacemos crecer la infraestructura para satisfacer la demanda de servicios entrantes, utilixando las mejores prácticas de arquitectura en nuestras AZ(Hornos/San Lorenzo)</li>
                                <li>Ofrecemos las bases para que nuestros clientes construyan soluciones tecnológicas costo-eficientes, self-service y automatizadas</li>
                                <li>Pensamos en la evolución hacia un datacenter escalable</li>
                            <h4>Alcance</h4>
                                <li>Diseñar, implementar y Disponibilizar cómputo, storage e infraestructura de networking estructurante</li>
                                <li>Desde la virtualización/storage hasta su conectividad con el BBIP a través de distintas capas de networking, incluyendo equipamiento de seguridad, balanceadores y WAF</li>
                                <li>Damos soporte y llevamos las mejores prácticas a otras células a la hora de montar servicios y cumplir con las golden rules establecidas. </li>
                        <br><br><br><br><br><br><br><br>  
                              
                        <u><h3>PaaS</h3></u>
                        <img class="equipos"src="../Imagenes/paas.jpg" alt="">
                            <h4>¿Qué hacemos?</h4>
                                <li>Proporcionamos las arquitecturas de micro-servicios y contenedores con nuevas tecnologias y asi cubrir las necesidades, cada vez más presentes, en los desarrollos de la compañía</li>
                                <li>Facilitamos herramientas automatizadas que permiten agilizar la creación de componentes en la plataforma.</li>
                            <h4>Alcance</h4>
                                <li>Crear plataformas de contenedores sobre DC4 como nuevo producto, que nos permitan desplegar y ejecutar aplicaciones multi-cloud híbrida</li>    
                                <li>Asegurar y administrar las plataformas y servicios asociados, garantizando un óptimo aprovechamiento de los recursos, disponibilidad y mantenimiento</li>
                                <li>¿Hacia dónde vamos? Mejorar la solución de backuo existente, desplegar una image registry unificada y tener un cluster de management centralizado que permita desplegar nuevos clusters en la nube pública </li>
                            
    
                </div>
                <br><br><br><br><br><br><br>
                <h2>Transormacion Cultural</h2>
                
                    <h4>Proposito</h4>
                        <li>Evolucionar nuestro Ser y Hacer</li>
                        <li>Potenciar a los equipos a través de diferentes dominios: Modelo Organizacional, Modelo Operativo, Aprendizaje & desarrollo, Comunicación, Engagement & Cultura</li>
                        <li>Dinamicos y Adaptativos: trabajamos de manera colaborativa de acuerdo a las necesidades del equipo </li>
                    <h4>Alcance</h4>
                        <h5>Modelo Organizacional</h5>
                        <img class="equiposPC"src="../Imagenes/TC.jpg" alt="">
                            <li>Diseño de equipo</li>
                            <li>Conformación de equipo</li>
                            <li>Definición de roles y puestos</li>
                            <li>Alineamiento organizacional</li>
                        <h5>Modelo Operativo</h3>
                            <li>Eventos y Artefactos</li>
                            <li>Cadena de valor - procesos</li>
                            <li>Mapa de vinculación</li>
                            <li>Métricas</li>
                            <li>Herramientas</li>
                            <li>OKRs</li>
                        <h5>Comunicacion, Engagement & Cultura</h5>
                            <li>Identidad de Equipo</li>
                            <li>Diseño plan de comunicaciones</li>
                            <li>Fomentar el reconocimiento</li>
                            <li>Engagement y cultura en los equipos</li>
                        <h5>Aprendizaje & Desarrollo</h5>
                            <li>Talento</li>
                            <li>Habilidades y competencias</li>
                            <li>Up Skilling</li>
                            <li>Mindset ágil</li>
                            <li>Liderazgo</li>
            </section>
            <br><br><br>

            <section id="estructura">
                <h2>Estructura</h2>
                <img src="../Imagenes/DC4Arq.png" alt="">
            </section>


        </main>

        <footer>
            <div class="flex">
                <small>Copyright &copy; 2019 All rights reserved | This template is made with <span class="footer-heart">&#9829;</span> by Colorlib.</small>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>

                    <li>
                        <a href="#">Games</a>
                    </li>

                    <li>
                        <a href="#">Blog</a>
                    </li>

                    <li>
                        <a href="#">Forums</a>
                    </li>

                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </footer>

        <script>
            document.getElementById('nav-toggle').addEventListener('click', function () {
                let navMenu = document.getElementById('nav-menu-container');
                navMenu.style.display = navMenu.offsetParent === null ? 'block' : 'none';
            });
        </script>
    </body>
</html>